$background: #f1f5f8;

$white: #ffffff;
$red: #db3766;
$green: #06d6a2;
$blue: #30107d;

$text-grey: #b9b9b9;
$text-dark-grey: #4e5555;

$main-font-family: "Roboto", sans-serif;
$poppins-font-family: "Poppins", sans-serif;

$border-radius-default: 0.5rem;

$mobile-small: 540px;
$mobile-medium: 720px;
$mobile-large: 1072px;
